.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.popup-item {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.close-btn {
  border: none;
  border-color: transparent;
  background-color: transparent;
  align-self: flex-end;
  font-size: 20px;
  margin-bottom: 20px;
}
.popup-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
